language: julia
julia:
    - 0.7
    - 1.0
addons:
    apt:
        packages:
            - libhdf5-serial-dev
sudo: enabled
after_success:
    # submit data to coveralls
    - julia -e 'using Pkg; cd(Pkg.dir("PorousMaterials")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'

    # build the documentation site
    - julia -e 'using Pkg; ps=Pkg.PackageSpec(name="Documenter", version="0.19"); Pkg.add(ps); Pkg.pin(ps)'
    - julia -e 'using Pkg; cd(Pkg.dir("PorousMaterials")); include(joinpath("docs", "make.jl"))'
notifications:
    email: false
    slack: simonensemble:gqF8iQTs1HBAraiqczEoTAz9
        on_success: always
        on_faulure: always
        template:
            - "Repo `%{repository_slug}` *%{result}* build (<%{build_url}|#%{build_number}>) for commit (<%{compare_url}|%{commit}>) on branch `%{branch}`."
            - "Execution time: *%{duration}*"
            - "Message: %{message}"
